<ul>
    <% if params[:substring] != nil %>
        <%= "The following states contain the substring #{params[:substring]}:" %>
        <% @states.each do |x| %>
            <li> <%= x %> </li>
        <% end
        end %>
</ul>